.categories-list {
  padding-left: 0;
  margin-top: 0px;
}

.filter-group-list {
  list-style-type: none;
}

.category-name {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
  list-style-type: none;
  margin-bottom: 5px;
  max-width: 150px;
  background-color: #ffffff;
  border-width: 0px;
  text-align: left;
}

.active-category-name {
  color: #0967d2;
}

@media screen and (min-width: 992px) {
  .category-name {
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  .category-name {
    border-style: solid;
    border-width: 1px;
    border-radius: 60px;
    border-color: #2d9cca;
    color: #2d9cca;
    font-family: Roboto;
    font-weight: 500;
    margin-right: 15px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
    padding-left: 12px;
  }

  .active-category-name {
    color: #ffffff;
    background-color: #0967d2;
  }
}
