.book-shelves-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e5e5e5;
  justify-content: space-between;
}

.books-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  .books-container {
    flex-direction: row;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .filters-list {
    background-color: #ffffff;
    padding-top: 26px;
    margin-right: 10px;
    margin-top: 20px;
    min-height: 100vh;
    padding-right: 5%;
  }

  .heading-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .search-input-container-small {
    display: none;
  }
}
.books-list-shelves {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.filters-list-heading {
  color: #334155;
  font-size: 22px;
  font-family: roboto;
  font-weight: 600;
  margin-bottom: 30px;
}

@media screen and (max-width: 991px) {
  .book-shelves-filter-btn-container {
    display: flex;
    flex-wrap: wrap;
  }

  .filters-list-heading {
    font-size: 19px;
  }

  .heading-search-container {
    display: none;
  }
  .search-input-container-small {
    display: flex;
    margin-left: 30px;
    border: 1px solid #475569;
    width: 70%;
  }
  .search-input {
    flex-grow: 1;
  }
}

@media screen and (max-width: 760px) {
  .books-list-shelves {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    margin-top: 0;
  }
}

.search-input-container {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  .heading {
    margin-right: 480px;
    color: #334155;
    font-family: roboto;
    font-size: 17px;
    font-weight: 500;
  }
}
.search-input-container {
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 2px 5px;
  margin-top: 10px;
  border: 1px solid #475569;
  background-color: #ffffff;
  margin-left: 10px;
}

.search-input {
  width: 250px;
  height: 30px;
  width: 200px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: 14px;
}

.search-icon {
  color: #475569;
  width: 20px;
  height: 20px;
}

.no-books-para {
  color: #334155;
  font-size: 16px;
  font-weight: 500;
  font-family: roboto;
}

.empty-books-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.search-icon-button {
  background-color: #ffffff;
  border-width: 0px;
}
